<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ name }}</title>
  <link rel=StyleSheet href="css/{{ scssFile }}.min.css" title="Contemporary">
</head>
<body>
  <!-- your content here -->
  <script src="js/{{ jsFile }}.min.js"></script>
</body>
</html>